name: skeleton_app
description: A new Flutter project.
publish_to: 'none' # Remove this line if you wish to publish to pub.dev

version: 1.0.0+1

environment:
  sdk: '>=3.0.1 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.2

  # Flutter Localization is a package use for in-app localization with map data. More easier and faster to implement and inspired by the flutter_localizations itself.
  flutter_localization: ^0.1.11
  # A simple way to access state from anywhere in your application while robust and testable.
  flutter_riverpod: ^2.3.6
  # Chopper is a http client generator using source_gen, inspired by Retrofit
  chopper: ^6.1.3
  # Provides APIs for debugging and error logging, similar to loggers in other languages, such as the Closure JS Logger and java.util.logging.Logger.
  logging: ^1.2.0
  # Flutter plugin for reading and writing simple key-value pairs. Wraps NSUserDefaults on iOS and SharedPreferences on Android.
  shared_preferences: ^2.1.1
  # A pure Dart library that checks for internet by opening a socket to a list of specified addresses, each with individual port and timeout. Defaults are provided for convenience.
  internet_connection_checker: ^1.0.0+1
  # Annotations for the freezed code-generator. This package does nothing without freezed too.
  freezed_annotation: ^2.2.0
  # Classes and helper functions that support JSON code generation via the `json_serializable` package.
  json_annotation: ^4.8.1

dev_dependencies:
  flutter_test:
    sdk: flutter
  # Recommended lints for Flutter apps, packages, and plugins to encourage good coding practices.
  flutter_lints: ^2.0.1
  # A build system for Dart code generation and modular compilation.
  build_runner: ^2.4.4
  # Chopper is a http client generator using source_gen, inspired by Retrofit
  chopper_generator: ^6.0.1
  # Code generation for immutable classes that has a simple syntax/API without compromising on the features.
  freezed: ^2.3.4

  ####################################### REMOVE #############################################
  # fvm flutter pub run flutter_native_splash:create
  flutter_native_splash: ^2.2.0+1
  # fvm flutter pub run change_app_package_name:main com.new.package.name
  change_app_package_name: ^1.1.0
  # fvm flutter pub run flutter_app_name
  flutter_app_name: ^0.1.0

# flutter splash screen
flutter_native_splash:
  color: "#ffffff"
  image: assets/logo-development.png
  branding: assets/branding-development.png
  color_dark: "#121212"
  image_dark: assets/logo-development.png
  branding_dark: assets/branding-development.png
  android_12:
    image: assets/logo-development.png
    icon_background_color: "#ffffff"
    image_dark: assets/logo-development.png
    icon_background_color_dark: "#121212"
  web: false
# Change app name
flutter_app_name:
  name: "My Cool App"
####################################### REMOVE #############################################


flutter:
  uses-material-design: true

  # To add assets to your application, add an assets section, like this:
  assets:
    - assets/images/
    - assets/svgs/

  # To add fonts to your application, add font section like this:
  fonts:
    - family: RobotoCondensed
      fonts:
        - asset: assets/fonts/RobotoCondensed-Light.ttf
        - asset: assets/fonts/RobotoCondensed-Regular.ttf
        - asset: assets/fonts/RobotoCondensed-Bold.ttf
